.DS_Store
node_modules/
/dist/
.cache
/cache/
/cache2/
/.cache-loader/
/dll/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist.tar.gz*

pre-commit

# Editor directories and files
.cache
.cache/
/.cache/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.eslintcache

